---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Agosto 2023 - Actualidad",
    title: "Test Analyst - Sogeti",
    description:
      "En mi rol actual en Capgemini, Me estoy desarrollando en el campo del Testing, adquiriendo conocimientos y experiencia en esta área. Además, me está permitiendo crecer y contribuir a proyectos relacionados con el testing.",
  },
  {
    date: "Marzo 2023 - Junio 2023",
    title: "Prácticas - Sogeti",
    description:
      "En Capgemini, he tenido la oportunidad de realizar mis prácticas, las cuales me permitieron formarme en las áreas de Testing y Desarrollo Web.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
